@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--secondary)
}

:root {
    --primary: #FE4848;
    --primary-accent-1: #FED9D9;
    --primary-accent-2: #FFF4F4;
    --secondary: #1E3F6D;
    --secondary--accent-1: #589BC5;
    --secondary--accent-2: #D0EFF1;
    --secondary--accent-3: #E7F7F8;
    --background-primary: #FFF;
    --border-color: #00000029;
    --input-field-color: #F3F5F6;
}

/* Removes input highligting */
input, input:focus, input:active {
    outline: none;
    background-color: transparent;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.primary-button {
    border-radius: 6px;
    display: flex;
    background-color: var(--primary);
    color: #FFF;
    font-size: 100%;
    font-weight: bold;
    height: 52px;
    line-height: 1.4rem;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.small-primary-button {
    border-radius: 6px;
    display: flex;
    background-color: var(--primary);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    min-width: 84px;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.secondary-button {
    border-radius: 6px;
    display: flex;
    background-color: var(--secondary--accent-1);
    color: #FFF;
    font-size: 100%;
    font-weight: bold;
    height: 52px;
    min-width: 133px;
    line-height: 1.4rem;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.small-secondary-button {
    border-radius: 6px;
    display: flex;
    background-color: var(--secondary--accent-1);
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    height: 32px;
    min-width: 84px;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.small-secondary-button:disabled {
    background-color: var(--secondary--accent-2);
}

.filter-button {
    border-radius: 6px;
    width: 149px;
    height: 32px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 19px;
    padding-right: 14px;
    border: 0 !important;
    background-color: var(--secondary--accent-3);
    color:  var(--secondary--accent-1);
    cursor: pointer;
}
.filter-button path {
    fill: var(--secondary--accent-1);
}


.filter-button.active {
    border-radius: 6px;
    width: 149px;
    height: 32px;
    font-size: 14px;
    padding-left: 19px;
    border: 0 !important;
    background-color: var(--secondary--accent-1);
    color:  #FFF;
    cursor: pointer;
}
.filter-button.active path {
    fill: var(--background-primary);
}

.small-input-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-field-color);
    border-radius: 6px;
    width: 100%;
    height: 32px;
}

.small-input-text label {
    align-self: start;
    padding-left: 0.5rem;
    color: var(--secondary--accent-1);
    font-weight: bold;
    height: 12px;
    font-size: 12px;
}

.small-input-text input {
    outline: none;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    width: 100%;
    height: 40px;
}


/*Select styling*/
select {
    border-radius: 6px;
    min-width: 149px;
    height: 32px;
    font-size: 14px;
    padding-left: 19px;
    border: 0 !important;
    background-color: var(--secondary--accent-1);
    color:  #FFF;
    cursor: pointer;

    /* needed */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* SVG background image */
    background-image: url("../src/lib/assets/_arrow_drop_down_icon.svg");
    background-size: 25px;
    background-position: calc(100% - 8px) center;
    background-repeat: no-repeat;
}

select:disabled {
    background-image: none;
    background-color: var(--secondary--accent-1);
    color:  #FFF;
    cursor: default;
    opacity: 1;
}

select::-ms-expand {
    display: none;
}

select:focus, select:active {
    outline: none;
    cursor: pointer;
}
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
    cursor: pointer;
    outline: none;
    transition: background-color 5000s ease-in-out 0s;
}



.input-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--input-field-color);
    border-radius: 6px;
    width: 100%;
    height: 52px;
}

.input-text label {
    align-self: start;
    padding-left: 0.5rem;
    color: var(--secondary--accent-1);
    font-weight: bold;
    height: 12px;
    font-size: 12px;
}

.input-text input {
    outline: none;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    width: 100%;
    height: 40px;
}

/* width */
::-webkit-scrollbar {
    width: 0;
    transform: rotate(90deg);
    border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0;
}

/*Tooltip*/
