@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Gill Sans MT', serif;
}

:root {
    --primary: #5D3FD3;
    --primary-second: #CF9FFF;
    --secondary: #767c88;
    --background-primary: #FFF;
    --accents-1: #fafafa;
    --accents-2: #eaeaea;
    --bg-accent-1: #614385;
    --bg-accent-2: #516395;
    --bg-gradient: var(--bg-accent-1), var(--bg-accent-2);
}

.primary-button {
    border-radius: 1.5rem;
    display: flex;
    background-color: var(--primary);
    color: #FFF;
    font-size: 100%;
    height: 36px;
    line-height: 1.4rem;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.secondary-button {
    border-radius: 1.5rem;
    display: flex;
    background-color: var(--secondary);
    color: #FFF;
    font-size: 100%;
    height: 36px;
    line-height: 1.4rem;
    padding: 0 1.5rem;
    align-items: center;
    justify-content: center;
}

.input-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f7f6;
    border-radius: 0.25rem;
    width: 100%;
    height: 34px;
    outline: 1px solid var(--primary);
}

.input-text:active, .input-text:focus {

}

.input-text label {
    align-self: start;
    padding-left: 0.5rem;
    color: var(--primary);
    height: 12px;
    font-size: 10px;
}

.input-text input {
    outline: none;
    font-weight: normal;
    font-size: 1rem;
    padding-left: 0.5rem;
    background-color: transparent;
    border-radius: 0.25rem;
    width: 100%;
    height: 20px;
}

.content-box {
    background-color: var(--background-primary);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    border: 1px solid var(--accents-2)
}

/* width */
::-webkit-scrollbar {
    width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0;
}